<h1>Calculator</h1>
<h2>The current sum:</h2>
<h3 id="sum">0</h3>
<div id="numbers-game">
  <div class="row">
    <% (1..10).each do |number| %>
      <div class="box col-md-2" onclick="computeSum(<%= number %>)"><%= number %></div>
      <div class="col-md-1"> </div>
    <% end %>
  </div>
  
</div>
