<h1>Click Three Boxes</h1>
<h2 id="message">Hello</h2>
<div id="three-box-game">
  <div class="row">
    <div class="col-md-1"> </div>
    <div class="box col-md-3 " onclick="clickBox(1)">Morning </div>
    <div class="col-md-1"> </div>
    <div class="box col-md-3" onclick="clickBox(2)">Afternoon </div>
    <div class="col-md-1"> </div>
    <div class="box col-md-3" onclick="clickBox(3)">Evening </div>
  </div>
  
</div>
